h1{/*beautyfy the hedder*/
	color: purple;
	text-align: center;
	font-size: 100px;
	font-family: cursive;
	background-color: purple;
 
}
.flash {/*beautyfy the animation*/
   animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: red;}
    to {color: yellow;}
}
body{
	background-color: purple;
	background-image: url(https://www.google.lk/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwj8pufFgq3SAhUBVbwKHb66D2sQjRwIBw&url=http%3A%2F%2Ftutorialzine.com%2F2010%2F07%2Fmaking-slick-mobileapp-website-jquery-css%2F&psig=AFQjCNG93qJ95Lxx-6ni4h9fiR4E5XfQTw&ust=1488172985650342);
}
p{
	background-color: orange;
}

ul{
	list-style-type:None;
	overflow: hidden;
	background-color: black;
}

li{
	float:left;
}
li a,.dropbtn{
	display:inline-block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}
li .dropdown{
	display:inline-block;
}
li a:hover,.dropdown:hover .dropbtn{
 	background-color: red;
 }
.dropdown-contain {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    padding: 11px 10px;
    z-index: 1;
    
}

.dropdown-contain a{
	color: green;
	padding: 11px 10px;
	display: block;
	border: double;
}

.dropdown:hover .dropdown-contain {
    display: block;
}

.dropdown:hover .dropbtn{
	background-color: red;
}

