.r1{
	height: 90px;
}

.con{
	text-align: center;
	width: 250px;
	border:solid 1px;
	align-self: center;
	margin: 80px auto;
	 position: relative;
	 background-color: white;
}

.r2{
	height: 20px;
}
body{
background-color:#75879c;

}
.clr{
background:#75879c; 	
}