//DashBoard start

.tp_mgn2{
  margin-top:31px;
  margin-bottom:31px;
}
.tp_mgn3{
  background-color: #C2DFE3;
  height: 622px;
  margin-top: -31px;
  z-index: 1;
  border-right: 20px solid #C2DFE3;
  border-left: 20px solid #C2DFE3;

}
.schl{
  padding: 0px 25px 25px 25px;
}
.notify{
  margin-top:35px;
  background-color: #FAF7FF;
  padding-right: 0 !important;
  padding-left: 0 !important;
  border-radius: 0px 0px 0px 0px;
  color: #FAF7FF;
  overflow: hidden;
}
.notify_head{
  height: 30px;
}
.notify_shead{
  height: 35px;
  font-size:16px;
  padding-top: 6px !important;
}
.notify_indi{
  height: 22px;
  font-size: 12px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}
.notify_body{
  height:85;
  color: #606060;
}
.notify_info{
  padding-left:28px;
  overflow: hidden;
}
.notify_footer{
  height:0px;
}
.notify_infoRi  ul, .notify_info ul{
  margin: 0 !important ;
  list-style-type: none;
  padding: 0 0 0 12px !important;
}
.col0{
  height: 100%;
}
.col1{
  background-color: #FAF7FF;
  height: 100%;
  border: 2px solid #C2DFE3;
  z-index: 100;
  float: left;
  padding-bottom: 35px;
}
.col2{
  background-color: #FAF7FF;
  height: 100%;
  min-height: 100px;
  float: right;
  border: 2px solid #C2DFE3;
  z-index: 100;
  padding-bottom: 35px;
}
.col3{
  background-color: #2A3F54;
  z-index:300;
  bottom:0;
  height: 40px;

}