//DashBoard start
.full{
  height: 100%;
}
.dash{
  height: 90%;

}
.row-border{
  margin-top:31px;
  height: 95%;
}

.col-border{
  background-color: #C2DFE3;
  margin-top: -31px;
  padding-bottom: 31px;
  border-right: 20px solid #C2DFE3;
  border-left: 20px solid #C2DFE3;
  overflow: scroll;
  //height: auto;

}

//dashboard left bar
.col1{
  background-color: #FAF7FF;
  border: 2px solid #C2DFE3;
  border-right: 15px solid #C2DFE3;
  float: left;
  padding: 30px;

}

//dashboard right bar
.col2{
  background-color: #FAF7FF;
  float: right;
  border: 2px solid #C2DFE3;
  padding: 30px;

}

.footer{
  margin-top: -31px;
  background-color: #2A3F54;
  bottom:0;
  height: 40px;
}
