.topic1{
	font-size: 25px;
	font-weight: 900;
}

.Lpanel{
	width: 650px;
	height: 300px;
	border:solid 2px;
}

.gy{
	width: 10px;
	height: 10px;
}

video {
  max-width: 600px;
  max-height: 280px;
}