body{
    background: #1abb9c;
}
html,body{
  @import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
  @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  color: #606060;
    position: relative;
    height: 100%;
}

.logo300{
    float: left;
}

.logo300 img{
    width: 40%;
    height: auto;
}

.login-container{
    position: relative;
    width: 600px;
    margin: 150px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
}

#user-password, #user-name{
    width: 100%;
    align-content: center;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    height: 60px;
    border: none;
    background: #e6f7f4;
    font-size: 16px;
}

.login , .regIn{
    background-color: #1abb9c;
    width : 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    border: none;
    border-radius: 0;
}

.regIn{
    width: 80%;
    margin-bottom: 10px;
}

.regIn a, .login a{
    color:#fff;
}

.form1 .login:hover, .form1 .login:focus, .form1 .login:active .form1, .regIn:hover, .form1 .regIn:focus, .form1 .regIn:active{
    background-color: #138972;
    color: #fff;
}

.form-box{
    text-align: center;  
}

#regLink, #loginLink{
    margin-top: 15px;  
    color: #1abb9c;
    font-style: underline;
    cursor: pointer;
}

#regLink:hover, #loginLink:hover{
    text-decoration: underline;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
    font-size: 16px;
    font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
    font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 16px;
    font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
    font-style: italic;
}

