/*Generic Classes start*/
html,body{
  @import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
  @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
  @import url('//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css');
  background-color: #75879C;
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  color: #606060;
}
.defaultMargin{
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/*Generic Classes end*/

/*bootstrap overriding start*/
.navbar-fixed-bottom, .navbar-fixed-top {
  z-index: 200;
}
/*bootstrap overriding end*/

/*Navigation Bar on the top start*/
.logo{
  width: 44px;
  margin-top: 5px;
}
.avatar{
  width: 30px;
  height: 30px;
}
.topbar {
  background: #1abb9c;
  border-color: #1abb9c;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.topbar .navbar-header a {
  color: #ffffff;
}
.navbar-btn {
  background: none;
  border: none;
  height: 35px;
  min-width: 35px;
  color: #fff;
}
.navbar-text {
  margin-top: 14px;
  margin-bottom: 14px;
}
/*Navigation Bar on the top end*/

/*Navigation images start*/
.container_nav{
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.tp_mgn{
  margin-top: -9px;
  z-index: 800;

}
.td_none, .td_none:hover{
  text-decoration: none;
  color:#fff;
}
.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
.item_nav{
  display: inline-block;
  margin:6px;
  padding: 5px 5px 0px 5px;
  width: 140px;
  border-radius: 0px 0px 20px 20px;
  border: 3px solid rgba(255,255,255,0.8);
  background-color: #1abb9c;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0o, 0.2);
  width: 96px; 
  height: 71px;
}
.text_nav {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  transition: .5s ease;
  opacity: 0;
}
.item_nav > img{
  height: 30px;
  display: block;
  margin: auto;

}
.item_nav:hover .image_nav {
  transform: scale(1.1);
}
.item_nav:hover .text_nav {
  text-align:center;
  opacity: 1;
}
/*Navigation images end*/

/*DashBoard start*/
.tp_mgn2{
  margin-top:31px;
  margin-bottom:31px;
}
.tp_mgn3{
  background-color: #C2DFE3;
  height: 622px;
  margin-top: -31px;
  z-index: 1;
  border-right: 20px solid #C2DFE3;
  border-left: 20px solid #C2DFE3;

}
.schl{
  padding: 0px 25px 25px 25px;
}
.notify{
  margin-top:35px;
  background-color: #FAF7FF;
  padding-right: 0 !important;
  padding-left: 0 !important;
  border-radius: 0px 0px 0px 0px;
  color: #FAF7FF;
  overflow: hidden;
}
.notify_head{
  height: 30px;
}
.notify_shead{
  height: 35px;
  font-size:16px;
  padding-top: 6px !important;
}
.notify_indi{
  height: 22px;
  font-size: 12px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}
.notify_body{
  height:85;
  color: #606060;
}
.notify_info{
  padding-left:28px;
  overflow: hidden;
}
.notify_footer{
  height:0px;
}
.notify_infoRi  ul, .notify_info ul{
  margin: 0 !important ;
  list-style-type: none;
  padding: 0 0 0 12px !important;
}
.col0{
  height: 100%;
}
.col1{
  background-color: #FAF7FF;
  height: 100%;
  border: 2px solid #C2DFE3;
  z-index: 100;
  float: left;
  padding-bottom: 35px;
}
.col2{
  background-color: #FAF7FF;
  height: 100%;
  min-height: 100px;
  float: right;
  border: 2px solid #C2DFE3;
  z-index: 100;
  padding-bottom: 35px;
}
.col3{
  background-color: #2A3F54;
  z-index:300;
  bottom:0;
  height: 40px;

}
/*panel list start*/
.MarginPanels{
  width: 100%;
  margin-top: 10px;
  padding: 0px;
}
#panels_sc .panel{
  border-color: #bbbe64 !important;
  border-width: 2px;
}
#panels_sc .panel-heading{
  background-color: #d9dbaa !important;
  color: #666837 !important;
  border-width: 2px;
}
.purple{
  color: #444c4f !important;
  background-color: #bcd0d6  !important;
  border-radius: 0px;
}
.purpleborder{
  border-color: #22AED1  !important;
  border-width: 2px;
}
.yellow{
  color: #444c4f !important;
  background-color: #bcd0d6   !important;
  border-radius: 0px;
}
.yellowborder{
  border-color: #22AED1  !important;
  border-width: 2px;
}
.green{
  color: #444c4f !important;
  background-color: #bcd0d6  !important;
  border-radius: 0px;
}
.greenborder{
  border-color: #22AED1  !important;
  border-width: 2px;
}
.pink{
  color: #444c4f !important;
  background-color: #bcd0d6  !important;
  border-radius: 0px;
}
.pinkborder{
  border-color: #22AED1  !important;
  border-width: 2px;
}
.blue{
  color: #444c4f !important;
  background-color: #bcd0d6  !important;
  border-radius: 0px;
}
.blueborder{
  border-color: #22AED1  !important;
  border-width: 2px;
}
/*panel list end*/

/*Homework start*/
.notify_cr{
  border: 2px solid #22AED1;
}
.notify_head_cr{
}
.notify_shead_cr{
  background-color: #22AED1;
}
.notify_indi_cr{
  background-color: #22AED1;
  color: #FAF7FF;
}
#task_remaining{
  text-align: center;
  padding-left: 35px;
}
#homework{
  height: 150px;
}
.slider_cr {
  background-color: #22aed1;
}
#panels_cr{
  display: grid;
	grid-gap: 1rem;
 	grid-template-columns: repeat(2, 1fr);
	grid-auto-flow: row dense;
	grid-auto-columns: minmax(30px, 100px);
}

/*homework list start*/
.ac-custom ul {
  padding: 0px;
	list-style: none;
  overflow: hidden;
}
.ac-custom li {
	position: relative;
}
.ac-custom label {
	display: inline-block;
	position: relative;
	font-size: 1em;
	vertical-align: text-top;
	color: rgba(0,0,0,0.6);
	cursor: pointer;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.ac-custom input[type="checkbox"]
.ac-custom label::before {
	width: 50px;
	height: 50px;
	top: 50%;
	left: 0;
	margin-top: -25px;
	position: absolute;
	cursor: pointer;
}
.ac-custom input[type="checkbox"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}
.ac-custom label::before {
	content: '';
	border: 4px solid #fff;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.ac-radio label::before {
	border-radius: 50%;
}
.ac-custom input[type="checkbox"]:checked + label {
	color: #aaa;
}
.ac-custom input[type="checkbox"]:checked + label::before {
	opacity: 0.8;
}
.ac-custom svg {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20%;

	left: 5px;
	pointer-events: none;
}
.ac-custom svg.nextLine{
  top: 50%;
  stroke: #333333;
}
.ac-custom svg path {
	stroke: #797964;
	stroke-width: 10px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
.ac-list ul li {
	font-size: 1em;
}
.ac-list ul li label {
	font-size: 1em;
	text-indent: 0;
  display:inline-block;
  width:260px;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
}
.ac-list label::before {
	display: none;
}
.ac-list svg {
	width: 100%;
	height: 45px;
	left: 0;
	margin-top: 0px;
}
.ac-list svg path {
	stroke-width: 4px;
}
/*homework list end*/
/*Homework end*/

/*Society Anouncement start*/
.notify_sc{
  border: 2px solid #22AED1;
}
.notify_head_sc{
}
.notify_shead_sc{
  background-color: #22AED1;
}
.notify_indi_sc{
  background-color: #22AED1;
  color: #FAF7FF;
}
.slider_sc {
  background-color: #22AED1;
}
#societyNotification{
  height: 150px;
}
#testTable{
  margin-right:30px;
  overflow: visible;
}
#panels_sc{
  margin-top: 5px;
}
/*Society Anouncement end*/

/*View More start*/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 60px;
  max-width: None;
  bottom:0;
  right:0;
  background-color: black;
  margin-top: -32px;
}
.switch input {
  display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 200;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  /*background-color: #22aed1;*/
}

input:focus + .slider {
  /*box-shadow: 0 0 1px #22aed1;*/
}
input:checked + .slider:before {
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}
.size1{width: 96px; height: 71px;}
/*View More end*/

/*DashBoard end*/
