html,body{
    @import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
    @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');    
    background-color: #75879C;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
}
/*bootstrap overriding start*/
.navbar-fixed-bottom, .navbar-fixed-top {
    z-index: 200;    
}
/*bootstrap overriding end*/

.logo{
    background-image: url(#)
}

/*template overriding*/
#dashboard{
    margin-top:25px;
    z-index: 1000;
}
/*template overriding*/
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.align-row{
	vertical-align:middle;
	display:table-cell;
	height:100%;
	width:100%;
	justify-content: center;
}

.container-table {
	height:100%;
	justify-content: center;
	width:100%;
    display: table;
}
.item_nav:hover .image_nav {
/*  opacity: 0.7;*/
    transform: scale(1.1);
}
.container_nav{
	float: none;
/*    margin: 0 auto;*/
    margin-left: auto;
    margin-right: auto;
}
.item_nav:hover .text_nav {
	text-align:center;
  opacity: 1;
}

.text_nav { 
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  transition: .5s ease;
  opacity: 0;
    

}
.center{
    margin-right: auto;
    margin-bottom: auto;
    right: 50%;
    left: 0;
}

.tp_mgn{
    margin-top: -9px;
    z-index: 800;
}

.item_nav{
/*	float:left;*/
    display: inline-block;
    margin:6px;
    padding: 5px 5px 0px 5px;
    width: 140px;
/*    max-height: 30px;*/
    border-radius: 0px 0px 20px 20px;
    border: 3px solid #C2DFE3;
    background-color: #1abb9c;
    cursor: pointer;
}
.item_nav > img{
    height: 30px;
/*    width: auto;*/
    display: block;
    margin: auto;
/*    width: 40%;*/
}

.topbar {
	background: #1abb9c;
	border-color: #1abb9c;
	border-radius: 0px;
}

.topbar .navbar-header a {
	color: #ffffff;
}

.wrapper {
    padding-left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar {
    z-index: 1000;
    position: fixed;
    top: 50px;
    left: -50px;
    width: 50px;
    height: 100%;
    overflow-y: auto;
    background: #2A3F54;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main {
	width: 100%;
    position: relative;
    padding-bottom:20px;
}

.wrapper.toggled {
	padding-left: 50px;
}

.wrapper.toggled .sidebar {
	left: 0;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 52px;
    width: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #e8e8e8;
    padding: 0;
    text-align:center;
}

.sidebar-nav li a:hover, .sidebar-nav li.active a {
    text-decoration: none;
    color: #fff;
    background: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li span, .subbar li span {
	display : none;
}

nav.subbar {
	position: relative;
	width: 100%;
	border-radius: 0px;
	background: #fff;
	margin: 50px 0 -50px 0;
	padding: 10px 0 0 0;
	z-index: 2;
}
nav.subbar > ul.nav.nav-tabs {
	padding: 0 5px;
}

nav.subbar > ul.nav.nav-tabs > li.active > a {
    background: #dedede;
    border-top: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    border-radius: 0px;
}

.content {
    margin-top: 70px;
    padding: 0 30px;
}

@media(min-width:768px){
	.subbar li span {
		display: inline;
	}
}

@media(min-width:992px) {
    .wrapper {
    	padding-left: 50px;
    }

    .sidebar {
    	left: 0;
    	width: 50px;
	}

	.wrapper.toggled {
		padding-left: 200px;
	}

	.wrapper.toggled .sidebar, .wrapper.toggled .sidebar-nav {
		width: 200px;
	}
	
	.wrapper.toggled .sidebar-nav li a {
		text-align: left;
		padding: 0 0 0 10px;
	}

	.wrapper.toggled .sidebar-nav li span {
		display: inline;
	}

}

.navbar-btn {
    background: none;
    border: none;
    height: 35px;
    min-width: 35px;
    color: #fff;
}
.navbar-text {
  margin-top: 14px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.col1{
    background-color: #FAF7FF;
    height: 83%;
/*    border-radius: 20px;*/
    
    border: 2px solid #C2DFE3;
    z-index: 100;
}

.col2{
    background-color: #FAF7FF;
    height: 83%;
/*    border-radius: 20px;*/
    border: 2px solid #C2DFE3;
    z-index: 100;
}

.col3{    
    background-color: #2A3F54;
    z-index:300;    
    bottom:0;
    height: 40px;
    margin-top: -39px;
/*    border-radius:  20px 20px 0px 0px;*/    
}

.ftr{
}

.tp_mgn2{
   margin-top:31px; 
}

.tp_mgn3{
    background-color: #C2DFE3;
    height: 622px;
    margin-top: -31px;
    z-index: 1;
    border-right: 20px solid #C2DFE3;
    border-left: 20px solid #C2DFE3;    
}

.schl{
    padding: 0px 25px 25px 25px;
}

.notify{
    margin-top:35px;
    background-color: #FAF7FF;
    padding-right: 0 !important;
    padding-left: 0 !important;
    border-radius: 0px 0px 20px 20px;
    height: 150px;
    color: #FAF7FF;
}

.notify_head{    
    height: 30px;
}

.notify_body{    
    height: 50px;
    font-size:26px;
    padding-top: 6px !important;
}

.notify_indi{
    height: 22px;
    font-size: 12px;
    text-align: center;
}

.notify_cr{
    border: 2px solid #22AED1;
}

.notify_head_cr{
}

.notify_body_cr{
    background-color: #22AED1;
}

.notify_indi_cr{
    background-color: #22AED1;
    color: #FAF7FF;
/*    color: #FAF7FF;*/
}

.notify_sc{
    border: 2px solid #122c34;
}

.notify_head_sc{
}

.notify_body_sc{
    background-color: #122c34;
}

.notify_indi_sc{
    background-color: #122c34;
    color: #FAF7FF;
}