
.panel_space{
	height: 30px;
  font-size: 25px;
  font-weight: 900;
}

.panel{
	border: 3px solid;
	height: 60px;
	font-size: 25px;
  padding-bottom: 5px;
  background:  #989F9A;
}

.pane3{
  border: 3px solid;
  height: 60px;
  font-size: 25px;
  padding-bottom: 5px;
  background:  #8D8D8F;
}

.panel2{
  border: 3px solid;
  border-style: outset;

  height: 150px;
  font-size: 25px;
  padding-bottom: 5px;
  background:  #8B99A4;
  font-weight: 20px;
}
.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 10px 6px 10px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
border-color: 

.text_p{
	font-size: 1000px;
}

.col5{
  background-color: #FAF7FF;
  height: 100%;
  min-height: 100px;
  float: right;
  border: 2px solid #C2DFE3;
  z-index: 100;
  padding-bottom: 35px;
}
   




